{% load static %}

<!doctype html>
<html lang="en">
  <head>
  	<title>Forgot Password</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	</head>
	<body>
	
		<section class="vh-100" style="background-color: #fff;">
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                  <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <form  method="POST" action="{% url 'forgot_password' %}">
                        {% csrf_token %}
                        <div class="card-body p-5 text-center">
          
                            <h3 class="mb-5 text-secondary">Forgot Password</h3>
                            
                            <div class="form-group">
                                {% for message in messages %}
                                <div class="rounded" role="alert">
                                    {{message}}
                                </div>
                                {% endfor %}
                            </div>
                           
                              <div class="mb-3">
                              <input id="email" type="text" class="form-control" name="email" placeholder="Email" required>
                            </div>
        
                
                            <button class="btn btn-primary btn-lg btn-block mt-4" type="submit">VERIFY</button>
                          </div>
                    </form>
        
                  </div>
                </div>
              </div>
            </div>
          </section>
	

	<script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/popper.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/maina.js' %}"></script>

	</body>
</html>

