{% extends 'Dashboard.html' %}

{% block title %}
Add Category
{% endblock %}


{% block content %}

<div class="main-panel">
  <div class="content-wrapper">
      <div class="row">
        
          <div class="col-12 grid-margin">
            <div class="card">
              <div class="card-body">
                  <h1 class="card-title text-center">Add Category<a href="{% url 'category' %}" class="float-right btn btn-warning">Back</a></h1>
                  <div class="table-responsive">

                    {% for message in messages %}
                        <div class="alert-danger rounded mb-2 text-center" role="alert">
                              {{message}}
                          </div>
                    {% endfor %}

                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="w-100 mb-3">Category Name: {{form.category_name}}</div>
                        <div class="w-100 mb-3">slug: {{form.slug}}</div>
                        <div class="w-100 mb-3">Description: {{form.description}}</div>
                        <div class="w-100 mb-3">
                          Image : {{form.Category_img}}
                          <div id="image-box" class="image-container"></div>
                           <button class="btn btn-outline-info" id="crop-btn" style="width: 100%; margin-top: 10px; display: none;" type="button">Crop</button>
                        </div>
                        <div class="w-100 mb-3">Status : {{form.is_active}}</div>

                        <button type="submit"  id="submit" >Add Category</button>

                </div>
            </div>
          </div>
        </div>
      </div>

      <script>
        document.getElementById("id_category_name").onkeyup = function(){
          console.log()
          var x = document.getElementById("id_category_name").value.toLowerCase().replaceAll(" ","-");
          console.log(x);
          document.getElementById("id_slug").value = x ;
        }
      </script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js"></script>

<script>

  var imagebox = document.getElementById('image-box')
	var crop_btn = document.getElementById('crop-btn')
	var input = document.getElementById('id_Category_img')

  input.addEventListener('change', ()=>{
	  const img_data = input.files[0]
	  const url = URL.createObjectURL(img_data)
	  
	  imagebox.innerHTML = `<img src="${url}" id="Category_img" style="width:30%;">`

	 const image = document.getElementById('Category_img')

	 document.getElementById('image-box').style.display = 'block'
	 document.getElementById('crop-btn').style.display = 'block'
	 document.getElementById('submit').style.display = 'none'

	  const cropper = new Cropper(image, {
	  autoCropArea: 1,
	  viewMode: 1,
	  scalable: false,
	  zoomable: true,
	  movable: false,
	  aspectRatio: 1/1,
	  })

	  crop_btn.addEventListener('click', ()=>{
	    cropper.getCroppedCanvas().toBlob((blob)=>{
	      
	     let fileInputElement = document.getElementById('id_Category_img');
	     let file = new File([blob], img_data.name,{type:"image/*", lastModified:new Date().getTime()});
	     let container = new DataTransfer();
	     container.items.add(file);
	     fileInputElement.files = container.files;

	     document.getElementById('image-box').style.display = 'none'
	     document.getElementById('crop-btn').style.display = 'none'
	     document.getElementById('submit').style.display = 'block'

	      });
	    });

	});	

</script>

{% endblock %}