{% extends 'dashboard.html' %}

{% load static %}

{% block content %}


<div class="main-panel">
  <div class="content-wrapper">
      <div class="row">
        
          <div class="col-12 grid-margin">
            <div class="card">
              <div class="card-body">
                  <h1 class="card-title text-center">Add Product<a href="{% url 'product' %}" class="float-right btn btn-warning">Back</a></h1>
                  <div class="table-responsive mx-5">

                    
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        {% for message in messages %}
                                <div class="alert alert-danger rounded mb-2 text-center w-75">
                                     {{message}}
                                 </div>
                        {% endfor %}
                        
                        <div class="w-75 mb-3">Product Name: {{form.product_name}}</div>
                        <div class="w-75 mb-3">slug: {{form.slug}}</div>
                        <div class="w-75 mb-3">Description: {{form.description}}</div>
                        <div class="w-75 mb-3">Product Image: {{form.image}}</div>
                        <div class="w-75 mb-3">Product Category: {{form.category_name}}</div>
                        <div class="w-75 mb-3">Sub-Category: {{form.subcategory_name}}</div>
                        <div class="w-75 mb-3">Product Brand: {{form.brand_name}}</div>
                        <div class="w-75 mb-3">Enable: {{form.is_active}}</div>
                       
                        <button type="submit" class="btn btn-success">Add Product</button>
                    </form>
          
                  </div>
                </div>
              </div>
            </div>
          </div>

          <script>
            document.getElementById("id_product_name").onkeyup = function(){
              console.log()
              var x = document.getElementById("id_product_name").value.toLowerCase().replaceAll(" ","-");
              console.log(x);
              document.getElementById("id_slug").value = x ;
              document.getElementById("product_name_id").value = x;
            }
          </script>
          

{% endblock %}