{% extends 'dashboard.html' %}

{% block title %}
Edit Product
{% endblock %}


{% block content %}

<div class="main-panel">
  <div class="content-wrapper">
      <div class="row">
        
          <div class="col-12 grid-margin">
            <div class="card">
              <div class="card-body">
                  <h1 class="card-title text-center">Edit Product<a href="{% url 'product' %}" class="float-right btn btn-warning">Back</a></h1>
                  <div class="table-responsive">

                    <form method="post" action="{% url 'updateproduct' prdts.id %}" enctype="multipart/form-data"">
        
                        {% csrf_token %}
                        
                        <div class="mb-3">
                            <label>Product Name :</label>
                            <input id="title" class="mb-3 form-control" type="text" name="product_name" value="{{prdts.product_name}}">
                        </div>

                        <div class="mb-3">
                            <label>Slug :</label>
                            <input id="slugId" class="mb-3 form-control" type="text" name="slug" value="{{prdts.slug}}">
                        </div>

                        <div class="mb-3">
                            <label>Description :</label>
                            <input class="mb-3 form-control" type="text" name="description" value="{{prdts.description}}">   
                        </div>

                        <div class="mb-3">
                          <label>Image :</label>
                          <a href="{{ prdts.image.url }}"><img src="{{ prdts.image.url }}" width="150" height="200"></a>
                      </div>
                      {% if prdts.image_2 %}
                        <div class="mb-3">
                          <label>Image 2 :</label>
                          <a href="{{ prdts.image_2.url }}"><img src="{{ prdts.image_2.url }}" width="150" height="200"></a>
                      </div>
                      {% endif %}

                      {% if prdts.image_3 %}
                        <div class="mb-3">
                          <label>Image 3 :</label>
                          <a href="{{ prdts.image_3.url }}"><img src="{{ prdts.image_3.url }}" width="150" height="200"></a>
                      </div>
                      {% endif %}
                        
                        <button type="submit" class="btn btn-success">Update</button>
                    </form>

                </div>
            </div>
          </div>
        </div>
      </div>

      <script>
        document.getElementById("title").onkeyup = function(){
          console.log()
          var x = document.getElementById("title").value.toLowerCase().replaceAll(" ","-");
          console.log(x);
          document.getElementById("slugId").value = x ;
        }
      
       
      </script>
      

{% endblock %}



  