{% extends 'home.html' %}

{% load static %}

{% block content %}

<section class="bg0 p-t-23 p-b-140 mt-5">
	<div class="container mt-3">
		
		<div class="flex-w flex-sb-m mt-3 px-1">
			<div class="flex-w flex-l-m filter-tope-group m-tb-10">
				<a href="{% url 'products' %}" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5">
					All Products
				</a>
				
				{% for i in links %}
				<a href="{{ i.get_url }}" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 text-decoration-none">
					{{i.category_name}}
				</a>
				{% endfor %}

			</div>
			{% include 'store/filter.html' %}
		</div>
		
		<section>
			<div class="container py-5">
			  <div class="row">
				{% for i in prdts %}
				<div class="col-md-6 col-lg-4 mb-2 mt-2 mb-lg-0">
				  <div class="card">
					<a href="{{ i.get_url }}"><img src="{{i.image.url}}"
					  class="card-img-top" alt=""/></a>
					<div class="card-body">
					  <div class="d-flex justify-content-between">
						<p class="small"><a href="{{ i.get_url }}" class="text-muted">{{ i.brand_name }}</a></p>
						{% if i.product_offer > 0 %}
						<a href="{{ i.get_url }}"><p class="small text-dark mr-1"><s>₹{{i.productrelate.first.price}}</s></p></a>
						{% elif i.category_name.category_offer > 0 %}
						<a href="{{ i.get_url }}"><p class="small text-dark mr-1"><s>₹{{i.productrelate.first.price}}</s></p></a>
						{% endif %}
					  </div>
		  
					  <div class="d-flex justify-content-between mb-3">
						<a href="{{ i.get_url }}"><h5 class="mb-0">{{i.product_name}}</h5></a>
						{% if i.product_offer > 0 %}
						<a href="{{ i.get_url }}"><h5 class="text-success mb-0 mr-1">₹{{i.productrelate.first.offer_price}}</h5></a>
						{% elif i.category_name.category_offer > 0 %}
						<a href="{{ i.get_url }}"><h5 class="text-success mb-0 mr-1">₹{{i.productrelate.first.offer_price}}</h5></a>
						{% else %}
						<a href="{{ i.get_url }}"><h5 class="cl3 mb-0 mr-1">₹{{i.productrelate.first.offer_price}}</h5></a>
						{% endif %}
					  </div>
		  
					  <div class="d-flex justify-content-between mb-2">
						<div class="ms-auto text-warning">
						  <i class="fa fa-star"></i>
						  <i class="fa fa-star"></i>
						  <i class="fa fa-star"></i>
						  <i class="fa fa-star"></i>
						  <i class="fa fa-star"></i>
						</div>
						{% if i.product_offer > 0 and i.product_offer >= i.category_name.category_offer %}
						<p class="text-success mb-0"><i class="fa-solid fa-tags"></i> {{i.product_offer}}% off</p>
						{% elif i.category_name.category_offer > 0 and i.product_offer <= i.category_name.category_offer %}
						<p class="text-success mb-0"><i class="fa-solid fa-tags"></i> {{i.category_name.category_offer}}% off</p>
						{% endif %}
					  </div>
					</div>
				  </div>
				</div>
				{% endfor %}
			  </div>
			</div>
		  </section>
		
	</div>
</section>

{% endblock %}