{% extends 'home.html' %}

{% load static %}

{% block title %}
Cart
{% endblock %}

{% block content %}

<section class="bg0 p-t-23 p-b-140 mt-5">
	<div class="container">
        {% if not cart_items %}
        <div class="text-center mt-5">
          <div class="text-center">
            <img src="{% static 'images/empty-cart.png' %}" class="rounded w-50" alt="...">
          </div>
            <h2>Your Cart is Empty</h2>
            <a href="{% url 'products' %}" class="btn btn-primary mt-3">Shop now</a>
        </div>
        {% else %}
        <form class="bg0 p-t-75 p-b-85">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50 mx-3 mr-5">
                        <div class=" m-r--38 ">
                            <div class="wrap-table-shopping-cart">
                                <table class="table-shopping-cart">
                                    <tr class="table_head text-center">
                                        <th class="column-1">Product</th>
                                        <th class="column-2"></th>
                                        <th class="column-3">Price</th>
                                        <th class="column-4">Quantity</th>
                                        <th class="column-5">Total</th>
                                        <th></th>
                                    </tr>
                                    <tbody>
                                    {% for i in cart_items %}
                                    <tr class="table_row">
                                        <td class="column-1">
                                            <div class="how-itemcart1">
                                                <a href="{{i.cart_product.get_url}}"><img src="{{i.cart_product.Product_img.url}}" alt="IMG"></a>
                                            </div>
                                        </td>
                                        <td class="column-2 px-2">
                                          <a href="{{i.cart_product.get_url}}" class="text-dark">{{i.cart_product.product_name}}</a>
                                          <small class="text-secondary">
                                          {% if i.variation.all %}
                                          {% for item in i.variation.all %}
                                          {{item.variation_value}}<br>
                                          {% endfor %}
                                          {% endif %}
                                        </small>
                                        </td>
                                        <td class="column-3">₹{{i.cart_product.price}}</td>
                                        <td class="column-4">
                                            <div class="wrap-num-product flex-w m-l-auto m-r-0">

                                                <a href="{% url 'remove_cart' i.cart_product.id i.id %}" class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                                    <i class="fa-solid fa-minus"></i>
                                                </a>
    
                                                <input class="mtext-104 cl3 text-center num-product" type="number" name="num-product1" readonly value="{{i.quantity}}">
                                                <form action="{% url 'add_cart' i.cart_product.id  %}" method="POST">
                                                  {% csrf_token %}
                                                  {% for item in i.variation.all %}
                                                    <input type="hidden" name="{{ item.variation_category | lower }}" value="{{ item.variation_value | capfirst }}">
                                                  {% endfor %}
                                                  <button class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m" type="submit"> <i class="fs-16 zmdi zmdi-plus"></i></button>
                                                </form>
                                            </div>
                                        </td>
                                        <td class="column-5">₹{{ i.sub_total }}</td>
                                        <td class="pr-3">
                                            <!-- Button trigger modal -->
                                        <a href="" type="button" class=" text-danger py-1 pr-1 pl-2" data-toggle="modal" data-target="#exampleModal{{i.cart_product.id}}">
                                            <i class="fa-solid fa-trash"></i>
                                        </a>
  
                                          <!-- Modal -->
                                          <div class="modal fade" id="exampleModal{{i.cart_product.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index: 2000;">
                                            <div class="modal-dialog" role="document">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <h5 class="modal-title" id="exampleModalLabel">Remove Product</h5>
                                                  <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                  </button>
                                                </div>
                                                <div class="modal-body">
                                                  Are you sure you want to remove this product from your cart?
                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                  <a href="{% url 'delete_item' i.cart_product.id i.id %}" type="button" class="btn btn-danger">Delete</a>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </td>
                                    </tr>  
                                    {% endfor %}
                                </tbody>
                            </table>
                            </div>
                            </div>
                        </div>
                    
                    
                    <aside class="col-lg-4">
                        <div class="card">
                        <div class="card-body">
                            <dl class="dlist-align">
                              <dt>Total price:</dt>
                              <dd class="text-right">₹{{total}}</dd>
                            </dl>
                            <dl class="dlist-align">
                              <dt>Tax:</dt>
                              <dd class="text-right">₹{{tax}}</dd>
                            </dl>
                            <dl class="dlist-align">
                              <dt>Total:</dt>
                              <dd class="text-right text-dark b"><strong>₹{{grand_total}}</strong></dd>
                            </dl>
                            <hr>
                            <a href="{% url 'checkout' %}" class="btn btn-primary btn-block"> Checkout </a>
                            <a href="{% url 'products' %}" class="btn btn-light btn-block">Continue Shopping</a>
                        </div> <!-- card-body.// -->
                        </div> <!-- card.// -->
                </aside>
                {% endif %}
    </div>
</section>



<script>
    $('form').on('focus', 'input[type=number]', function (e) {
     $(this).on('wheel.disableScroll', function (e) {
          e.preventDefault()
        })
        })
        $('form').on('blur', 'input[type=number]', function (e) {
        $(this).off('wheel.disableScroll')
    })
</script>

{% endblock %}