{% extends 'home.html' %}

{% load static %}

{% block content %}

<section class="bg0 p-t-23 p-b-140 mt-5">
	<div class="container mt-3">

		<ul class="nav mb-3 cl3 flex justify-content-center" id="pills-tab" role="tablist">
			<li class="mx-2">
			  <a href="{% url 'settings' %}" class="btn btn-light active">
				Profile
			</a>
			</li>
			<li class="mx-2">
				<a href="{% url 'change_password' %}" class="btn btn-dark">
					Change Password
				</a>
			</li>
			<li class="mx-2">
				<a href="{% url 'myorders' %}" class="btn  btn-light active">
					Orders
				</a>
			</li>
			<li class="mx-2">
				<a href="{% url 'addresses' %}" class="btn  btn-light active">
					Addresses
				</a>
			</li>
		  </ul>
		  {% block dashcard %}

		  <div class="py-5 container">
			
		  <div class="container">
			
			<div class="row flex justify-content-center">
			<div class="card mx-5 col-md-5">
			
				<div class="d-flex">
					<div class="w-100">
						<h3 class="my-2 text-center cl3">Change Password</h3>
					</div>
						  
				  </div>
				  	<form action="{% url 'change_password' %}" method="post">
						  {% csrf_token %}

						  {% for message in messages %}
						  <div class="alert-danger rounded mb-2 text-center" role="alert">
							   {{message}}
						   </div>
						   {% endfor %}
						  
						  <div class="mb-3">
							  <label>Current password</label>
							  <input type="password" name="current_password" class="form-control" placeholder="Enter Your Current Password" required>
						  </div>
						  <div class="mb-3">
						  <label>New Password</label>
						  <input type="password" name="password" class="form-control" placeholder="Enter Your New Password" required>
						  </div>
						  <div class="mb-3">
						  <label>Confirm new Password</label>
						  <input type="password" name="password2" class="form-control" placeholder="Confirm Your New Password" required>
						  </div>
						  
						  <div class="form-group mt-4">
						  <button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign In</button>
						  </div>

						</div>
						</div>
					</div>

				</div>

			{% endblock %}
	</div>
</section>

{% endblock %}