<style>
	.scroll-list::-webkit-scrollbar { 
		width: 0 !important;
		display: none; 
}
</style>

<div class="flex-w flex-c-m m-tb-10">
	<div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
		<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
		<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
			Filter
	</div>
</div>
			
			

			<!-- Filter -->
			<div class="dis-none panel-filter w-full p-t-10" >

				<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">

					
					<div class="filter-col1 p-r-15 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Category
						</div>

						<div class="scroll-list" style="height: 100px; overflow-y: scroll;">
						<ul>
							{% for i in ctgy %}
							<li class="p-b-6">
								<a href="{{i.get_url}}" class="stext-106 trans-04 d-flex w-50 cl2" id="tfl">
									{{i.category_name}}
								</a>
							</li>
							{% endfor %}
						</ul>
						</div>
					</div>

					<div class="filter-col1 p-r-15 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Brand
						</div>
						<div class="scroll-list" style="height: 100px; overflow-y: scroll;">
						<ul>
							{% for brand in brnd %}
							<li class="p-b-6">
								<a href="{{brand.brnd_get_url}}" class="stext-106 trans-04 d-flex w-50  cl2">
									<input type="checkbox" data-filter="brand" value="{{i.id}}" class="mr-1 filter-checkbox" id="{{i.id}}">
									{{brand.brand_name}}
								</a>
							</li>
							{% endfor %}
						</ul>
						</div>
					</div>

					<!-- <div class="filter-col2 p-r-15 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Price
						</div>
							<input type="range" style="color: red;">
						</div> -->

					<div class="filter-col3 p-r-15 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Color
						</div>
						<div class="scroll-list" style="height: 100px; overflow-y: scroll;">
						<ul>
							{% for i in clr %}
							<li class="p-b-6">
								<a href="{% url 'by_color' i.color__slug %}" class="stext-106 trans-04 d-flex w-50  cl2">
									<input type="checkbox" data-filter="color" value="{{i.color__id}}" class="mr-1 filter-checkbox">
									<!-- <span class="fs-15 lh-12 m-r-6" style="color: {{i.color__color_code}};">
										<i class="zmdi zmdi-circle"></i>
									</span> -->
									{{i.color__color}}
								</a>
							</li> 
							{% endfor %}
						</ul>
						</div>
					</div>

					<div class="filter-col4 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Memory
						</div>
						<div class="scroll-list" style="height: 100px; overflow-y: scroll; overflow-x: hidden;">
						{% for i in ram %}
						<div class="flex-w p-t-4 m-r--5">
							<li class="p-b-6">
								<a href="{% url 'by_ram' i.ram__slug %}" class="stext-106 trans-04 d-flex  cl2">
									<input type="checkbox" data-filter="ram" value="{{i.ram__id}}" class="mr-1 filter-checkbox" id="{{i.id}}">
									{{i.ram__ram}}
								</a>
							</li>
						</div>
						{% endfor %}
						</div>
					</div>
					
				</div>
				
			</div>