{% extends 'home.html' %}

{% load static %}

{% block title %}
{{prdts.slug}}
{% endblock %}


{% block content %}

<section class="bg0 p-t-23 p-b-140 mt-5">
<div class="container">
    <div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
        <button class="how-pos3 hov3 trans-04 js-hide-modal1">
            <img src="{% static 'images/icons/icon-close.png' %}" alt="CLOSE">
        </button>

        <div class="row">
            <div class="col-md-6 col-lg-7 p-b-30">
                <div class="p-l-25 p-r-30 p-lr-0-lg ml-5">
                    <div class="wrap-slick3 flex-sb flex-w w-75">
                        <div class="wrap-slick3-dots"></div>
                        <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

                        <div class="slick3 gallery-lb">
                            <div class="item-slick3" data-thumb="{{prdts.image.url}}">
                                <div class="wrap-pic-w-m pos-relative">
                                    <img id="myimage" src="{{prdts.image.url}}">
                                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="{{prdts.image.url}}">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                            {% for imgs in images %}
                            <div class="item-slick3" data-thumb="{{imgs.images.url}}">
                                <div class="wrap-pic-w pos-relative">
                                    <img src="{{imgs.images.url}}" alt="IMG-PRODUCT">
                                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="{{imgs.images.url}}">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                           {% endfor %}
                           
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-lg-5 p-b-30">
                <div class="p-r-50 p-t-5 p-lr-0-lg">
                    <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                        {{prdts.product_name}} 
                    </h4>

                    <h3 class="text-success">
                    
                        ₹<span class="product-price{{prdts.productrelate.id}} d-inline" >{{prdts.productrelate.price}}</span>

                    </h3>

                    <p class="stext-102 cl3 p-t-23 mb-2">
                       {{prdts.description}}
                    </p>

                    </div>
                    {% if colors %}
                    <span class="mt-2">Colors:</span>
                    
                    <div class="d-flex w-25 mb-3">
                    
                    {% for color in colors %}
                    <button class="btn btn-outline-secondary m-1 p-3 rounded-circle choose-color" data-color="{{color.color__id}}" color="{{color.color__color}}"
                     style="background-color: {{color.color__color_code}}">
                    </button>
                    {% endfor %}

                    </div>
                    {% else %}
 
                    {% endif %}

                    {% if ram %}
                    <p>Availabe Memory :</p>
                    <div class="d-flex w-25 mt-2 text-dark">
                        
                    {% for memory in ram %}
                    <button id="ram" class="btn btn-sm btn-outline-dark m-1 ram{{memory.id}} choose-memory color{{memory.color__id}}" data-ramid="{{memory.id}}" ram="{{memory.ram__ram}}" data-price="{{memory.price}}">
                        <small>{{memory.ram__ram  | upper }}</small>
                    </buton>
                    {% endfor %}
                    {%else%}
                        <h1>test</h1>
                    {% endif %}

                    </div>
                    <!-- Cart -->
                    <div class="input-group my-3 w-50">
                        <input type="number" min="1" value="1" class="form-control w-50" id="productQty">
                        <div class="input-group-append">
                        <input type="hidden" class="product-image" value="{{prdts.image.url}}">
                        <input type="hidden" class="product-id" value="{{prdts.id}}">
                        <input type="hidden" class="product-title" value="{{prdts.product_name}}">
                        <button class="btn btn-primary btn-lg" type="button" id="addToCartBtn">
                          Add to Cart <i class="zmdi zmdi-shopping-cart"></i>
                        </button>
                        </div>
                    </div>

                    <!-- Cart End -->
                </div>
            </div>
        </div>
        <hr>
        <div>
            <h3><u>Reviews & Ratings</u><a href="#" class="float-right btn btn-sm btn-dark">Add Review +</a></h3>
            <div class="row mt-3">
                <div class="col-md-5 border mx-3 py-3">
                <h6 class="px-2"><i class="fa-solid fa-circle-user h5"></i> Aman Rahees <a href="#" class="float-right text-dark"><i class="fa-solid fa-ellipsis-vertical"></i></a></h6>
                <p class="py-2 px-2">Nice phone for gaming and camera</p>
                <div class="row mx-2 pb-2">
                    <i class="fa-solid fa-star text-warning"></i> 
                    <i class="fa-solid fa-star text-warning"></i>
                    <i class="fa-solid fa-star text-warning"></i>
                    <i class="fa-solid fa-star-half-stroke text-warning"></i>
                    <i class="fa-regular fa-star text-warning"></i>
                </div>
                <!-- <div class="row mx-2 py-2">
                    <img src="{{prdts.image.url}}" width="50px">
                </div> -->
                <small class="px-2">19 Jan,2021</small>
                </div>

                <div class="col-md-5 border mx-3 py-3">
                    <h6 class="px-2"><i class="fa-solid fa-circle-user h5"></i> Aman Rahees <a href="#" class="float-right text-dark"><i class="fa-solid fa-ellipsis-vertical"></i></a></h6>
                    <p class="py-2 px-2">Nice phone for gaming and camera</p>
                    <div class="row mx-2">
                        <i class="fa-solid fa-star text-warning"></i> 
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star-half-stroke text-warning"></i>
                        <i class="fa-regular fa-star text-warning"></i>
                    </div>
                    <!-- <div class="row mx-2 py-2">
                        <img src="{{prdts.image.url}}" width="50px">
                    </div> -->
                    <small>19 Jan,2021</small>
                    </div>
            </div>
        </div>
        <hr>
    </div>
</section>

{% endblock %}
