{% extends 'home.html' %}

{% load static %}

{% block title %}
Settings
{% endblock %}

{% block content %}

<section class="p-t-23 p-b-140 mt-5">
  <div class="container mt-3">
    {% for message in messages %}
        <div class="rounded mb-2 text-center mx-5" role="alert">
              {{message}}
        </div>
    {% endfor %}
		<div class="container">
			<div class="bg-white rounded-lg d-block d-sm-flex border rounded">
				
				<nav bar class="profile-tab-nav border bg-dark p-2">
					<div class="nav flex-column nav-pills">
						<a class="nav-link active" href="{% url 'settings' %}">
							<i class="fa fa-user text-center"></i>
							Profile
						</a>
						<a class="nav-link" href="{% url 'change_password' %}">
							<i class="fa fa-key text-center mr-1"></i> 
							Password
						</a>
						<a class="nav-link" href="{% url 'addresses' %}">
							<i class="fa fa-home text-center"></i>
							Addresses
						</a>
						<a class="nav-link" href="{% url 'myorders' %}">
							<i class="fa fa-tv text-center"></i> 
							Orders
						</a>
						<a class="nav-link" href="{% url 'logout' %}" role="tab">
							<!-- <i class="fa fa-bell text-center mr-1"></i>  -->
							<i class="fa-solid fa-right-from-bracket"></i>
							Logout
						</a>
					</div>
				</nav>

				{% block spage %}

				<div class="m-5 active " id="account" role="tabpanel" aria-labelledby="account-tab">
					<h2 class="mb-3">My Profile</h2>
					<div class="row">
						
						<div class="col-md-6">
							<div class="form-group">
								  <label>First Name</label>
								  <h4 class="text-capitalize form-control">{{user.first_name}}</h4>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								  <label>Last Name</label>
								  <h4 class="form-control text-capitalize">{{user.last_name}}</h4>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								  <label>Email</label>
								  <h4 class="form-control">{{user.email}}</h4>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								  <label>Phone number</label>
								  <input type="text" class="form-control" value="+91 {{user.phone_number}}">
							</div>
						</div>
					</div>
			   </div>
			{% endblock %}
		</div>
	 </div>
</section>
{% endblock %}