<div class="card-body" id="addresschange">
<h4 class="text-center py-2" style="color:#555 ;">Shipping Address</h4>
<hr>
<div class="row">
<div class="col-md-12">
<label>Name</label>
<input type="text" name="name" value="{{cadd.name}}" class="form-control" placeholder="Enter Your Name" required>
</div>
<div class="col-md-6 mt-3">
<label>Email</label>
<input type="text" name="email" value="{{cadd.email}}" class="form-control" placeholder="Enter Your Email" required>
</div>
<div class="col-md-6 mt-3">
<label>Phone Number</label>
<input type="tel" name="phone" value="{{cadd.mobile}}" class="form-control" placeholder="Enter Your Phone Number" required>
</div>
<div class="col-md-12 mt-3">
<label>Address lane 1</label>
<input type="text" name="address" value="{{cadd.address}}" class="form-control" placeholder="Address lane 1" required>
</div>
<div class="col-md-12 mt-3">
<label>Address lane 2</label>
<input type="text" name="address_2" value="{{cadd.address_2}}" class="form-control" placeholder="Address lane 2" required>
</div>
<div class="col-md-6 mt-3">
<label>State</label>
<input type="text" name="state" value="{{cadd.state}}" class="form-control" placeholder="State" required>
</div>
<div class="col-md-6 mt-3">
<label>District</label>
<input type="text" name="district" value="{{cadd.district}}" class="form-control" placeholder="District" required>
</div>
<div class="col-md-6 mt-3">
<label>City</label>
<input type="text" name="city" value="{{cadd.city}}" class="form-control" placeholder="City" required>
</div>
<div class="col-md-6 mt-3">
<label>PINCODE</label>
<input type="text" name="pincode" value="{{cadd.pincode}}" class="form-control" placeholder="Pincode" required>
</div>
</div>
</div>
                