{% extends 'home.html' %}

{% load static %}

{% block title %}
Cart
{% endblock %}

{% block content %}

<section class="bg0 p-t-23 p-b-140 mt-5">
	<div class="container">

        <div class="py-5">
            <div class="container">
                <div class="row">
                    <!-- <div class="col-md-6">
                        <div class="card shadow">
                           <div class="card-body">
                                    <h3>Shipping Address</h3>
                                    
                                    {{items.name}} <br>
                                    {{obj.address}} 
                                    {{obj.address_2}} <br>
                                    {{obj.city}} {{ obj.district}} <br>
                                    {{obj.state}} {{obj.pincode}}
                                    {{obj.total_price}}
                                    
                           </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card shadow">
                            <div class="card-body text-center">
                                {% for it in Items %}
                                {{it.product.product_name}}
                                <img width="40px" src="{{it.product.product_name.image.url}}" alt=""> x {{it.quantity}} = {{it.price}} <br>
                                {% endfor %}
                                <div class="d-flex justify-content-around mt-3">
                                    <h3>Total:</h3>
                                    <h3>
                                        
                                        {{obj.total_price}}
                                       
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-md-12 mt-5">
                        <div class="card shadow">
                            <div class="card-body text-center">
                                <img width="100px" src="{% static 'temp/img/order_confirm.webp' %}" alt="">
                                <h1>Order confirmed</h1>
                                <h4>Your item will be delivered soon</h4>
                                <h3 class="text-danger">Thank you for your purchase!!</h3>
                                
                                <h4>Your tracking number is : 
                                        {{obj.tracking_no}}
                                    </h4>
                                    <h4>Mode of  payment : {{obj.payment_mode}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}