{% extends 'home.html' %}

{% load static %}

{% block content %}

<section class="bg0 p-t-23 p-b-140 mt-5">
	<div class="container">

<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card shadow">
                   <div class="card-body">
                            <h3 class="text-center">Shipping Address</h3>
                            
                            <div class="row">
                                <div class="col-md-11 mx-4" style="color: #000;">
                                    <h6 class="my-3">Name : &nbsp;<span style="color: #000;">{{obj.name}}</span></h6>
                                    <h6 class="my-3">Phone :&nbsp;<span style="color: #000;">{{obj.phone}}</h6>
                                    <h6 class="my-3">Email :&nbsp;<span style="color: #000;">{{obj.email}}</h6>
                                    <h6 class="my-3">Address :&nbsp;<span style="color: #000;">{{obj.address}}, {{obj.address_2}}, {{obj.city}}, {{obj.district}},
                                    {{obj.state}}
                                    </h6>
                                </div>
                            </div>
                            
                   </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-body text-center">
                        <h4 class="text-center mb-2">Order Summary</h4>
                        <table class="table table stripeds table-bordereds">
                            <tbody>
                                {% for it in items %}
                                <tr>
                                    <td>
                                        <a class="text-dark" href="{% url 'productDetail' it.product.product_name.category_name.slug it.product.product_name.slug %}">
                                        <img height="60px" src="{{it.product.product_name.image.url}}" alt="">
                                        {{it.product.product_name}}<br>
                                        </a>
                                    </td>
                                    <td>x{{it.quantity}}</td>
                                    <td>
                                        <h6 class="text-dark">₹{{it.product.offer_price}}</h6>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <hr>
                        <div class="d-flex justify-content-around mt-3">
                            <h3>Total: ₹{{obj.total_price}}</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-5">
                <div class="card shadow">
                    <div class="card-body text-center">
                        <img width="100px" src="{% static 'images/order_confirm.webp' %}">
                        <h1 class="mb-2">Order confirmed</h1>
                        <h4 class="mb-2">Your item will be delivered soon</h4>
                        <h3 class="text-danger mb-2">Thank you for your purchase!!</h3>
                        
                        <h4 class="mb-2">Your tracking number is : 
                                {{obj.tracking_no}}
                            </h4>
                            <h4>Mode of  payment : {{obj.payment_mode}}</h4>
                           
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</section>

{% endblock %}